<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tingting.ver01">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".KaKaoLogin.GlobalApplication"
        android:allowBackup="false"
        android:icon="@drawable/tingting"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/tingting"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity android:name=".profileTeamInfo.profileTeamInfoReady.ChatWebViewActivity"></activity>
        <activity android:name=".profileTeamInfo.profileApply.OtherTeamInfoDetailActivity" />
        <activity android:name=".profileTeamInfo.profileApply.OtherTeamProfileActivity" />
        <activity android:name=".teamInfo.ProfileTeamInfoReadyActivity" />
        <activity android:name=".profileTeamInfo.profileTeamInfoNotReady.ProfileTeamInfoNotReadyActivity" /> <!-- activity android:name=".Matching.MatchingTeamInfo"/ -->
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".view.SignUp.SignupActivity1"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".view.SignUp.SignupActivity2"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity android:name=".searchTeam.MakeTeamPacakge.ReviseTeam" />
        <activity android:name=".profileTeamInfo.profileTeamMember.TeamInfoProfileDetailActivity" />
        <activity android:name=".matching.MatchingRequest" />
        <activity android:name=".ApplyTeamInfo.ApplyTeamInfoActivity" />
        <activity android:name=".searchTeam.MakeTeamPacakge.MTeam" /> <!-- activity android:name=".View.TeamInfo" / -->
        <activity android:name=".matching.matchingTeamMemberProfileDetail.MatchingDetail" />
        <activity android:name=".view.Main.MainActivity" />
        <activity android:name=".searchTeam.SearchTeamInfoDetailActivity" />
        <activity android:name=".searchTeam.SearchTeamInfo" />
        <activity android:name=".matching.matchingTeamMember.MatchingTeamInfo" />
        <activity android:name=".view.Auth.PictureRegisterActivity" />
        <activity android:name=".view.Auth.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/kakaolink_host"
                    android:scheme="@string/kakao_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".view.Main.ProfileDetailActivity" />
        <activity android:name=".view.Auth.FindIdAndPw.FindAccount" />
        <activity android:name=".view.Auth.LoginActivity" />
        <activity android:name=".matching.filter.FilterActivity" />
        <activity
            android:name=".view.Auth.SchoolAuthActivity"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity android:name=".view.Main.SettingsActivity" />
        <activity android:name=".view.Auth.SelfAuthActivity" />
        <activity android:name=".view.SignUp.SignUpConfirmActivity" />
        <activity android:name=".view.SignUp.SignUpConfirmKActivity" />
        <activity android:name=".view.Policy.CheckPolicy01" />
        <activity android:name=".view.Policy.CheckPolicy02" />
        <activity android:name=".matching.MatchingApplyTeamInfo" />
        <activity android:name=".matching.matchingTeamMember.MatchingRequestTeamInfo" />
        <activity android:name=".view.Auth.SetNewPw" />
        <activity android:name=".view.Main.WelcomeActivity"
            android:noHistory="true"/>
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <meta-data android:name="io.sentry.session-tracking.enable" android:value="true" />

    </application>

</manifest>